.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #000;
    height: 100%;
    .header-title {
        width: 100%;
        font-weight: bold;
        margin-bottom: 66px;
        text-align: center;
    }
    .header-list {
        width: 100%;
        // display: grid;
        // row-gap: 24px;
        text-align: center;
        font-weight: bold;
        line-height: 3;
        li {
            cursor: pointer;
            .header-link {
                display: inline-block;
                width: 100%;
                height: 100%;
            }
        }
        li:hover{
            color: rgb(23, 23, 149);
            font-weight: bold;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2);
            border-color: #eee;
            transition: all .2s ease-in-out;
        }
    }
}

.logo {
    max-width: 200px;
    max-height: 48px;
    margin-top: 27px;
    margin-right: 27px;
    margin-bottom: 145px;
    margin-left: 12px;
}

.store {
    .store-title {
        font-weight: bold;
        text-align: center;
        h2 {
            margin-top: 39px;
            margin-bottom: 18px;
        }
        h3 {
            margin-bottom: 15px;
        }
    }
    .store-search {
        line-height: 36px;
        align-items: center;
        margin-right: 45px;
        margin-left: 75px;
        .store-search-icon {
            z-index: 2;
            margin-right: -30px;
        }
        .store-search-input {
            width: 100%;
            border: 0;
        }
        .store-search-input:focus {
            border: 0;
        }
    }
    .product-list {
        margin-right: 55px;
        margin-left: 70px;
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .product-link {
            text-decoration: none;
            width: 30%;
            display: inline-block;
            margin-bottom: 10px;
            .product-item {
                background: #FFFFFF;
                border: 0.1px solid #F4F4F4;
                border-radius: 8px;
                border-radius: 4px;
                padding: 10px;
                font-family: 'Inter';
                font-weight: bold;
                height: 100%;
                .product-brand {
                    width: 22.8px; /*1.2*/
                    height: 22.8px;
                }
                .product-brand-title {
                    margin-left: 10px;
                }
                .product-text {
                    margin-bottom: 42px;
                }
                .product-price {
                    margin-right: 6px;
                }
                .product-user {
                    width: 13px;
                    height: 13px;
                }
                .product-user-name {
                    margin-left: 3px;
                }
                .product-user-number {
                    margin-left: 3px;
                }
            }
            .product-customized {
                background-color: rgba(255, 154, 2, 0.23);
                .product-customized-button {
                    border: 0;
                    background-color:#FF9A02;
                    color: #FFF;
                    border-radius: 10px;
                    padding: 5px;
                }
            }
        }
    }
}