// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Paytone+One&family=Squada+One&display=swap");

html,
body {
//   font-family: "Noto Sans TC", "Squada One", cursive, sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  display: inline-block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
.table {
  margin: 0;
}