<template>
  <div class="bg-primary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <div class="header">
            <img src="../assets/images/logo.svg" alt="Growise" class="logo">
            <h3 class="header-title">類型</h3>
            <ul class="header-list">
              <li><router-link to="/about" class="header-link">電商</router-link></li>
              <li><router-link to="/about" class="header-link">招聘</router-link></li>
              <li><router-link to="/about" class="header-link">旅遊</router-link></li>
              <li><router-link to="/about" class="header-link">房地產</router-link></li>
              <li><router-link to="/about" class="header-link">法律</router-link></li>
            </ul>
          </div>
        </div>
        <div class="col-9">
          <div class="store">
            <div class="store-title">
              <h2>Growise Store</h2>
              <h3>自數百個腳本中找到適合你目標網站的腳本進行套用擷取</h3>
            </div>
            <form class="store-search d-flex">
              <i class="bi bi-search store-search-icon"></i>
              <input class="form-control me-2 ms-2 ps-4" type="search" placeholder="Search" aria-label="Search">
            </form>
            <div class="product-list">
             <!--item點進去會跳到別的url-->
             <router-link to="/shopee" class="product-link">
               <div class="product-item">
                <div class="d-flex align-items-center mb-2">
                  <img src="../assets/images/shopee.png" alt="蝦皮" class="product-brand me-1">
                  <p class="product-brand-title">Shopee 產品列表</p>
                </div>
                <p class="product-text">於亞洲最大的電子商務網站 Shopee 獲取產品詳細信息。
                  通過方便的非官方 API 獲取產品價格、ID、描述、照片、評級和其他資訊。</p>
                <div class="d-flex fw-bold align-items-center mb-4">
                  <i class="bi bi-coin product-price"></i>
                  <p>免費</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center">
                    <img src="../assets/images/growiseUser.png" alt="user" class="product-user">
                    <p class="product-user-name">Growise</p>
                 </div>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-people"></i>
                    <p class="product-user-number">1,234</p>
                  </div>
                </div>
               </div>
             </router-link>
             <router-link to="/shopee" class="product-link">
               <div class="product-item">
                <div class="d-flex align-items-center mb-2">
                  <img src="../assets/images/lifeMarket.png" alt="蝦皮" class="product-brand me-1">
                  <p class="product-brand-title">生活市集產品頁爬蟲</p>
                </div>
                <p class="product-text">根據關鍵字從生活市集提取數據，包含各式產品名稱、價格、描述和規格編號。
                  亦可將數據下載為 JSON、CSV、XML。</p>
                <div class="d-flex fw-bold align-items-center mb-4">
                  <i class="bi bi-coin product-price"></i>
                  <p>$1,500 / 每月</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center">
                    <img src="../assets/images/growiseUser.png" alt="user" class="product-user">
                    <p class="product-user-name">Growise</p>
                 </div>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-people"></i>
                    <p class="product-user-number">1,234</p>
                  </div>
                </div>
               </div>
             </router-link>
             <router-link to="/shopee" class="product-link">
               <div class="product-item">
                <div class="d-flex align-items-center mb-2">
                  <img src="../assets/images/googlemap.png" alt="蝦皮" class="product-brand me-1">
                  <p class="product-brand-title">Google 地圖商家評價</p>
                </div>
                <p class="product-text">Google地圖是最常被使用來尋找商家評價的管道，您只需只需輸入要抓取的商家的 URL，您將獲得該商家所有的評論。</p>
                <div class="d-flex fw-bold align-items-center mb-4">
                  <i class="bi bi-coin product-price"></i>
                  <p>$2,300 / 每月</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center">
                    <img src="../assets/images/growiseUser.png" alt="user" class="product-user">
                    <p class="product-user-name">Growise</p>
                 </div>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-people"></i>
                    <p class="product-user-number">1,234</p>
                  </div>
                </div>
               </div>
             </router-link>
             <router-link to="/shopee" class="product-link">
               <div class="product-item">
                <div class="d-flex align-items-center mb-2">
                  <img src="../assets/images/Linkedin.png" alt="蝦皮" class="product-brand me-1">
                  <p class="product-brand-title">Linkedin 公司職缺</p>
                </div>
                <p class="product-text">只要在搜尋欄上輸入公司的名稱列表，您就會得到這些公司的 LinkedIn URL 的列表，以及這些公司目前所開放的職缺。</p>
                <div class="d-flex fw-bold align-items-center mb-4">
                  <i class="bi bi-coin product-price"></i>
                  <p>$3,000 / 每月</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center">
                    <img src="../assets/images/growiseUser.png" alt="user" class="product-user">
                    <p class="product-user-name">Growise</p>
                 </div>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-people"></i>
                    <p class="product-user-number">1,234</p>
                  </div>
                </div>
               </div>
             </router-link>
             <router-link to="/shopee" class="product-link">
               <div class="product-item">
                <div class="d-flex align-items-center mb-2">
                  <img src="../assets/images/KLOOK.png" alt="蝦皮" class="product-brand me-1">
                  <p class="product-brand-title">KLOOK 產品爬蟲</p>
                </div>
                <p class="product-text">從 KLOOK 抓取旅遊體驗數據。 您可以抓取所有旅遊體驗產品，
                  並從公開可用的 KLOOK 數據中獲取所有產品資訊和評論。</p>
                <div class="d-flex fw-bold align-items-center mb-4">
                  <i class="bi bi-coin product-price"></i>
                  <p>$3,500 / 每月</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center">
                    <img src="../assets/images/growiseUser.png" alt="user" class="product-user">
                    <p class="product-user-name">Growise</p>
                 </div>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-people"></i>
                    <p class="product-user-number">1,234</p>
                  </div>
                </div>
               </div>
             </router-link>
             <router-link to="/shopee" class="product-link">
               <div class="product-item product-customized">
                <div class="d-flex align-items-center justify-content-center mb-2">
                  <p class="product-brand-title">找不到適合的爬蟲嗎？</p>
                </div>
                <p class="product-text">讓我們的顧問來為您建立腳本，有任何需求都可先通知我們的顧問，並在隨後來為您建立符合條件的程式，與我們的顧問在建立之後討論。</p>
                <div class="d-flex fw-bold align-items-center mb-4">
                  <i class="bi bi-coin product-price"></i>
                  <p>$6,000 起跳</p>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  <button class="product-customized-button">客製化</button>
                </div>
               </div>
             </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <HelloWorld/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'HomeView',
  components: {
    HelloWorld
  }
}
</script>
