@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;700;900&family=Roboto+Mono:wght@300;400;700&display=swap');

@import "~bootstrap/scss/functions";  //原生
@import "./variables";  //自訂義

@import "~bootstrap/scss/bootstrap";


@import "./base/base";

@import "./pages/header";

#app {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}